
.page-header {
    padding: 60px 0 40px;
    border-bottom: 2px solid var(--tinta);
}

.page-header h1 {
    line-height: 1.1;
}

.page-header p {
    max-width: 510px;
    color: var(--gris);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.6;
}


.proximo {
    padding: 70px 0 60px;
}

.proximo-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 562px;
    border: 2px solid var(--tinta);
}